.fill-gradient { background-image: linear-gradient( to bottom right, #7474BF, #348AC7); }
.doc .property p { margin-bottom:0; }
.doc .space-right { padding-right:10px; }
.doc .icon.inline:before { vertical-align:middle; }